h1{
    color:rgb(109, 41, 41);
    text-shadow:4px 2px 1px;
    font-size: 80px;

}
.t_align_c{
    text-align: center;
}

th{
    font-size: 50px;
    color:rgb(red, green, blue);
}
.align_c{
    align-items: center;
}
.t_color_red{
    color: red;
}
.t_align{
    text-align:center;
}
.t_color_yello{
    color: goldenrod;
}
.t_decor_u{
    text-decoration:underline;
}
.t_color{
    color: rgb(5, 61, 3);
}
.t_over_o{
    text-decoration: overline;
}

